*{
    margin: 0;
    padding: 0;
    font-family:'Poppins' sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100%;
    background: #81dbf2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background: #020a38;
    padding: 20px;
    border-radius: 10px;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(227, 214, 214, 0.1),-5px -5px 15px rgba(241, 217, 217, 0.2);
    background: transparent;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin: 10px;
}
form .disply {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .disply input {
    text-align: right;
    flex: 1;
    font-size:45px;
    box-shadow: none;
}
#equal{
    width: 145%;
}

form input.opreator{
    color: #33ffd8;
}
#dasboard{
    border-radius: 5%;
    box-shadow: -2px -2px 15px;
    background-color: rgb(2, 2, 27);
}