/* *{
    background-color:rgb(1, 1, 20);
         margin: 0;
    font-family: YourCustomFont, sans-serif; /* Replace YourCustomFont with your desired font family */
    font-weight: small; /* Replace normal with your desired font weight */
    text-align: center; /* Replace left with your desired text alignment */
    background-color: #e3dfed; /* Replace #fff with your desired background color */
   
}   
img, svg {
    vertical-align: middle;
}
title{
    font-size: smaller  ;
}
.vhash{
    font-size: large    ;
} /*/