* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    align-items: center;
    
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677,#4e085f);
    padding: 10px;
}
.todo_app {
    width: 39%;
    max-width: 634%;    
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo_app h2{
    color: #002765;
    display: flex;
    align-items:center;
    margin-bottom:20px;
}
image{
     margin-left:10px;
    width: 50%; /* Adjust the width as needed */
    height: auto;
    margin-bottom:20px;
    align-items:center;
    display: flex;


}