body{
    font-family: Areal, sans-serif;
}
.slider{
    position: relative;
    margin: 50px auto;
    width: 80px;
    overflow: hidden;
}
.slider{
    display: flex;
    transition: transform 0.5s ease;
}
img{
    width: 100%;
    height: auto;
}
button{
    position: absolute;
    top: 50%;    
    transform: translateY(-50);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10%;
    z-index:2;
}
.prev{
    left: 0 ;
}
.next{
    right: 0    ;
}