*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html, body{
    height: 100%;
    width: 100%;
}

#center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%  );  
    width: 100%;
    height: 100%;
    border: 1px solid rgb(18, 1, 1)   ;
}