@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

* {
    margin: 0;
    padding: 0;
    height: flex;
    width: fit-content;
    /* width: 100%; */
}

html, body {
    font-family: "Black Ops One", sans-serif; /* Fixing the font-family typo */
    height: 100%;
    width: 100%;
}

.backgraound {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('image/lone-tree.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container h1 {
    text-align: center;
    color: rgb(42, 5, 5);
    font-size: 4rem; /* Correcting the font-size value */
}

.settings {
    position: absolute;
    bottom: 80px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.settings-content {
    display: flex;
    gap: 1rem;
}

.settings-content input {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: rgb(183, 248, 250);
    border: none;
    border-radius: 10px;
    color: rgb(1, 20, 36);
}

.settings-content button {
    padding: 0.5rem;
    background-color: rgb(187, 242, 244);
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    color: rgb(1, 9, 17);
}
.hide{
    display:none;
}



/* box-sizing: border-box; */