*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    position: relative;
}

/*global css */
.obj.width{
    max-width: 1200px;
    margin: auto;
}


nav{
    background-color: rgb(78, 18, 85);
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.03);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 0 ;
}
.navbar .logo{
    color: #fff;
    text-decoration: none;
    font-size: 2.2rem;
    letter-spacing: 2px;
}
#Search-input{
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #333;
}
#Search-button{
    padding: 10px 20px;
    background-color: rgb(229, 53, 209);
    color: #fffdfd;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}
#bolg-container{
    padding: 3rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}